# Import Libraries

In [336]:
import os
import settings
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

# crop production dataset

In [337]:
df1 = pd.read_csv(os.path.join(settings.DATA_DIR, settings.CROP_PRODUCTION_DATA), sep=",", header="infer")
# df1.head()
df1['State_Name'].unique()
# df1['District_Name'].unique()
# df1['Crop'].unique()
# df1['Season'].unique()
# mean_area = np.mean(df1['Area'].unique())
# std_area = np.std(df1['Area'].unique())
# print(mean_area, std_area)

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir ', 'Jharkhand',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana ',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [338]:
# renaming columns
df1.rename(columns={'State_Name': 'State', 'District_Name': 'District', 'Crop_Year': 'Year'}, inplace=True)
df1.head(2)

,State,District,Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0

In [339]:
subdivision_districts = { 
        'GANGETIC WEST BENGAL' : ['bankura', 'paschim bardhaman', 'purba bardhaman', 'birbhum', 'purulia', 'murshidabad', 
                                  'nadia', 'west midnapore', 'jhargram', 'east midnapore', 'hooghly', 'howrah', 'kolkata', 
                                  'north 24 parganas', 'south 24 parganas'],
       
        'EAST UTTAR PRADESH' : ['amethi', 'bahraich', 'gonda', 'basti', 'gorakhpur', 'deoria', 'ballia', 'azamgarh', 'faizabad', 
                                'sultanpur', 'jaunpur', 'ghazipur', 'varanasi', 'mirzapur', 'allahabad', 'pratapgarh', 
                                'sant kabeer nagar', 'barabanki', 'ambedkar nagar', 'mahrajganj', 'kushi nagar', 'chandauli',
                                'balrampur', 'sant ravidas nagar', 'kaushambi', 'mau', 'deoria', 'shravasti', 'gorakhpur', 'budaun',
                               'hardoi', 'jalaun', 'kannauj', 'kheri', 'sitapur'],
       'WEST UTTAR PRADESH' : ['meerut', 'bulandshahr', 'gautam buddha nagar', 'ghaziabad', 'hapur', 'baghpat', 'saharanpur', 
                               'muzaffarnagar', 'shamli', 'moradabad', 'bijnor', 'rampur', 'amroha', 'sambhal', 'rae bareli', 'bareilly', 
                               'pilibhit', 'shahjahanpur', 'agra', 'firozabad', 'mainpuri', 'mathura', 'aligarh', 
                               'etah', 'hathras', 'kasganj', 'etawah', 'auraiya', 'farrukhabad', 'unnao', 'banda', 'chitrakoot',
                              'fatehpur', 'hamirpur', 'jhansi', 'kanpur dehat', 'kanpur nagar', 'lalitpur','lucknow', 'maharajganj',
                              'mahoba', 'siddharth nagar', 'sonbhadra'],  
        
        'WEST RAJASTHAN': ['hanumangarh', 'sriganganagar', 'bikaner', 'jaisalmer', 'barmer', 'jalore', 'sirohi', 'pali', 
                           'jodhpur', 'nagaur', 'churu', 'sikar', 'jhunjhunu', 'ganganagar', 'morena', 'sheopur', 'bhind'], 
        'EAST RAJASTHAN' : ['tonk', 'bundi', 'ajmer', 'sawai madhopur', 'bhilwara', 'chittorgarh', 'kota', 'bharatpur',
                           'jaipur', 'rajsamand', 'udaipur', 'alwar', 'dungarpur', 'baran', 'dholpur', 'bhilwara', 'dausa',
                           'jhalawar','karauh', 'banswara', 'karauli'],
        'WEST MADHYA PRADESH': ['alirajpur', 'barwani', 'burhanpur', 'indore', 'dhar', 'jhabua', 'khandwa', 'khargone', 
                               'agar malwa', 'dewas', 'mandsaur', 'neemuch', 'ratlam', 'shajapur', 'ujjain','gwalior', 
                               'ashoknagar', 'shivpuri', 'datia', 'guna', 'betul', 'harda', 'narmadapuram', 'bhopal', 
                              'raisen', 'rajgarh', 'sehore', 'vidisha', 'morena', 'sheopur', 'bhind'], 
        'EAST MADHYA PRADESH' : ['rewa', 'satna', 'sidhi', 'singrauli', 'chhatarpur', 'damoh', 'panna', 'sagar', 'tikamgarh',
                                 'niwari', 'anuppur', 'shahdol','umaria', 'balaghat', 'chhindwara', 'jabalpur', 'katni', 
                                 'mandla', 'narsinghpur', 'seoni', 'dindori', 'hoshangabad'], 
        'GUJARAT REGION' : ['ahmadabad', 'anand', 'bharuch', 'chhota udaipur', 'dahod', 'kheda', 'mahisagar', 'panchmahal',
                            'dang', 'navsari', 'surat', 'narmada', 'bharuch', 'vadodara', 'tapi', 'valsad', 'mahesana',
                            'dadra and nagar haveli', 'patan', 'gandhinagar', 'banas kantha', 'dohad', 'panch mahals', 
                            'sabar kantha'],
        'SAURASHTRA AND KUTCH' : ['kachchh', 'devbhoomi dwarka', 'jamnagar', 'morbi', 'rajkot', 'porbandar', 'junagadh', 
                                  'gir somnath', 'amreli', 'bhavnagar', 'botad', 'surendranagar'], 
        'KONKAN AND GOA' : ['palghar', 'thane', 'mumbai suburban', 'mumbai city', 'raigad', 'ratnagiri','sindhudurg','mumbai'], 
        'MADHYA MAHARASHTRA' : ['ahmednagar', 'dhule', 'jalgaon', 'kolhapur', 'nandurbar', 'nashik', 'pune', 'sangli',
                                'satara', 'solapur'],
        'MATATHWADA':['aurangabad', 'beed', 'jalna', 'parbhani', 'osmanabad', 'latur', 'nanded', 'hingoli'], 
        'VIDARBHA' : ['buldhana', 'akola', 'washim', 'amravati', 'yavatmal', 'wardha', 'nagpur', 'chandrapur', 'gadchiroli',
                     'gondia', 'bhandara'], 
        
        'COASTAL ANDHRA PRADESH' : ['srikakulam', 'vizianagaram', 'vishakhapatnam', 'east godavari', 'west godavari', 
                                    'machilipatnam', 'guntur', 'prakasam', 'sandhi', 'spsr nellore', 
                                    'krishna', 'visakhapatanam'],
       
        'RAYALSEEMA' : ['anantapur', 'chittoor', 'kadapa', 'kurnool'], 
        
        'COASTAL KARNATAKA' : [ 'dakshin kannad', 'udupi', 'uttar kannad'],
        'NORTH INTERIOR KARNATAKA' : ['belgaum', 'bidar', 'bijapur', 'bagalkot', 'haveri', 'gadag', 'dharwad', 'gulbarga',
                                     'koppal', 'bellary', 'raichur', 'yadgir'], 
        'SOUTH INTERIOR KARNATAKA' : ['bangalore rural', 'bengaluru rural', 'bengaluru urban', 'bellary', 'chikmagalur', 'chitradurga', 'kodagu',
                                      'hassan', 'kolar', 'mysore', 'chamarajanagar', 'shimoga', 'tumkur', 'ramanagara',
                                     'mandya', 'davangere', 'chikballapur'], 
        }

In [340]:
states = {
        'ANDAMAN AND NICOBAR ISLANDS' : ['ANDAMAN AND NICOBAR ISLANDS'], 
        'ARUNACHAL PRADESH' : ['ARUNACHAL PRADESH'],
        'ASSAM AND MEGHALAYA' : ['ASSAM', 'MEGHALAYA'],
        'SUB HIMALAYAN WEST BENGAL AND SIKKIM' : ['SIKKIM', 'WEST BENGAL'],
        'ORISSA' : ['ODISHA'],
        'JHARKHAND':['JHARKHAND'], 
        'BIHAR':['BIHAR'],
        'PUNJAB' :['PUNJAB'], 
        'HIMACHAL PRADESH':['HIMACHAL PRADESH'],
        'JAMMU AND KASHMIR' :['JAMMU AND KASHMIR '], 
        'CHHATTISGARH': ['CHHATTISGARH'], 
        'TELANGANA': ['TELANGANA '],
        'TAMIL NADU': ['TAMIL NADU', 'PUDUCHERRY'], 
        'KERALA': ['KERALA'],
        'LAKSHADWEEP':['LAKSHADWEEP'],  
        'UTTARAKHAND' : ['UTTARAKHAND'],
        'HARYANA DELHI AND CHANDIGARH' : ['HARYANA', 'DELHI', 'CHANDIGARH'],
        'KONKAN AND GOA' : ['GOA'],
         'NAGA MANI MIZO TRIPURA':['NAGALAND', 'MANIPUR', 'MIZORAM', 'TRIPURA'],
        'GUJARAT REGION' : ['DADRA AND NAGAR HAVELI']}

In [341]:
df1['Season'].unique()

array(['Kharif     ', 'Whole Year ', 'Autumn     ', 'Rabi       ',
       'Summer     ', 'Winter     '], dtype=object)

In [342]:
def add_column(x, states, subdivision_districts):
    district = x[1]
    state = x[0]
    for key in states:
        if state.upper() in states[key] :
            return key.upper()
    for key in subdivision_districts:
        if district.lower() in subdivision_districts[key] :
            return key.upper()

In [343]:
df1['Subdivision'] = df1.apply(lambda x : add_column(x, states, subdivision_districts), axis=1 )
df1.head()

,State,District,Year,Season,Crop,Area,Production,Subdivision
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,ANDAMAN AND NICOBAR ISLANDS
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,ANDAMAN AND NICOBAR ISLANDS
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,ANDAMAN AND NICOBAR ISLANDS
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,ANDAMAN AND NICOBAR ISLANDS
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,ANDAMAN AND NICOBAR ISLANDS

In [320]:
df4 = df1[df1['Subdivision'] == 'hello']
df4['District_Name'].unique()

array([], dtype=object)

In [321]:
df4['State_Name'].unique()

array([], dtype=object)

In [322]:
df4.shape

(0, 8)

# Rainfall dataset

In [327]:
df2 = pd.read_csv(os.path.join(settings.DATA_DIR, settings.RAINFALL_DATA), sep=",", header="infer")
df2.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN & NICOBAR ISLANDS,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,ANDAMAN & NICOBAR ISLANDS,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,ANDAMAN & NICOBAR ISLANDS,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,ANDAMAN & NICOBAR ISLANDS,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,ANDAMAN & NICOBAR ISLANDS,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8

In [329]:
df2 = df2[df2['YEAR'] > 1996]
df2 = df2[df2['YEAR'] < 2015]

In [ ]:
# df2['Kharif'] = df2[['JUL', 'AUG', 'SEP', 'OCT', 'NOV']].mean(axis=1)
# df2['Rabbi'] = df2[['JAN', 'FEB', 'MAR', 'APR', 'MAY']].mean(axis=1)
# df2['Autmn'] = df2[['SEP', 'OCT']].mean(axis=1)
# df2['Summer'] = df2[['April', 'May', 'June']].mean(axis=1)
# df2['Winter'] = df2[['SEP', 'OCT']].mean(axis=1)

In [330]:
df2 = df2.drop(labels=['Jan-Feb', 'Mar-May', 'Jun-Sep', 'Oct-Dec'], axis=1)
df2.rename(columns={'SUBDIVISION' : 'Subdivision', 'YEAR': 'Year', 'ANNUAL': 'Annual'}, inplace=True)

In [331]:
df2.head()

,Subdivision,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Annual
91,ANDAMAN & NICOBAR ISLANDS,1997,9.5,0.0,0.2,15.6,281.1,199.5,918.5,430.6,440.2,128.7,292.8,38.4,2755.1
92,ANDAMAN & NICOBAR ISLANDS,1998,0.9,0.0,0.0,0.0,348.9,600.0,364.5,258.9,337.8,618.6,227.8,89.0,2846.4
93,ANDAMAN & NICOBAR ISLANDS,1999,46.8,44.6,14.2,270.6,257.4,295.0,408.5,329.2,325.3,437.5,124.9,145.7,2699.7
94,ANDAMAN & NICOBAR ISLANDS,2000,53.0,59.0,171.3,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
95,ANDAMAN & NICOBAR ISLANDS,2001,89.0,15.7,143.3,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9

In [333]:
df2['Subdivision'] = df2['Subdivision'].apply(lambda x : x.replace('&', 'AND'))
df2.head()

,Subdivision,Year,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Annual
91,ANDAMAN AND NICOBAR ISLANDS,1997,9.5,0.0,0.2,15.6,281.1,199.5,918.5,430.6,440.2,128.7,292.8,38.4,2755.1
92,ANDAMAN AND NICOBAR ISLANDS,1998,0.9,0.0,0.0,0.0,348.9,600.0,364.5,258.9,337.8,618.6,227.8,89.0,2846.4
93,ANDAMAN AND NICOBAR ISLANDS,1999,46.8,44.6,14.2,270.6,257.4,295.0,408.5,329.2,325.3,437.5,124.9,145.7,2699.7
94,ANDAMAN AND NICOBAR ISLANDS,2000,53.0,59.0,171.3,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
95,ANDAMAN AND NICOBAR ISLANDS,2001,89.0,15.7,143.3,30.1,705.3,370.7,341.3,469.0,334.4,267.6,222.6,91.8,3080.9

In [344]:
crop_yield_data = pd.merge(df1, df2, how='inner', on=['Subdivision', 'Year'])
crop_yield_data.head()

,State,District,Year,Season,Crop,Area,Production,Subdivision,JAN,FEB,...,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Annual
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,ANDAMAN AND NICOBAR ISLANDS,53.0,59.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,ANDAMAN AND NICOBAR ISLANDS,53.0,59.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,ANDAMAN AND NICOBAR ISLANDS,53.0,59.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,ANDAMAN AND NICOBAR ISLANDS,53.0,59.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,ANDAMAN AND NICOBAR ISLANDS,53.0,59.0,...,218.1,422.8,357.0,176.3,460.8,250.1,321.2,158.3,115.2,2763.2